#headline {
    margin-top: 0px;
}
.gray {
    width: 100%;
    background-color: lightgray;
}
th,td {
    border: solid 1px gray;
    text-align: center;
}
table {
    border-collapse: collapse;
}
.centering {
    text-align: center;
    margin: auto;
}
.color_red {
    font-weight: bold;
    color: red;
}
.img_sourcecode {
    margin: auto;
    border-radius: 10%;
}
.color_ul {
    list-style: none;
    padding-left: 0;
}
.color_li:hover {
    color: blueviolet;
}
.darkgray {
    background-color: rgb(120, 120, 120);
    margin: auto;
    position: relative;
    width: 1000px;
    height: 500px;
}
.positioning_block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.positioning_t {
    color: white;
    text-shadow: 2px 2px black;
}
.circle_ltop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightgray;
}
.rhombus_ltop {
    position: absolute;
    top: 15.2px;
    left: 115.2px;
    width: 70.5px;
    height: 70.5px;
    transform: rotate(-45deg);
    background-color: lightgray;
}
.circle_rtop {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightgray;
}
.rhombus_rtop {
    position: absolute;
    top: 115.2px;
    right: 0;
    width: 70.5px;
    height: 70.5px;
    transform: translate(-15.2px,0) rotate(-45deg);
    background-color: lightgray;
}
.circle_lbottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightgray; 
}
.rhombus_lbottom {
    position: absolute;
    bottom: 0;
    left: 15.2px;
    width: 70.5px;
    height: 70.5px;
    transform: translate(0,-115.2px) rotate(-45deg);
    background-color: lightgray;
}
.circle_rbottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightgray; 
}
.rhombus_rbottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70.5px;
    height: 70.5px;
    transform: translate(-115.2px, -15.2px) rotate(-45deg);
    background-color: lightgray;
}
.item {
    background: rgba(55, 117, 92, 0.5);
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 10px;
    width: 100px;
}
.container {
    display: flex;
}
